################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Marraia.Notifications/FileContentIndex/34516908-a643-4a7a-bb06-ad2602dd01be.vsidx
